 html {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("tickets.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

header {
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
}

header img {
  height: 75px;
}

 main {
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

.js-mainBox {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-bottom: 250px;
  align-items: center;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  color: whitesmoke;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.js-query {
  height: 40px;
  border: 3px solid rgba(255, 20, 0, 0.5);
  border-radius: 10px;
  background-color: rgba(28, 28, 31, 0.5);
  color: whitesmoke;
  text-align: center;
}

.js-button {
  margin-top: 5px;
  height: 40px;
  border: 3px solid rgba(255, 20, 0, 0.5);
  border-radius: 10px;
  background-color: rgba(255, 20, 0, 0.5);
  color: whitesmoke;
  font-weight: bold;
}

.js-resultsBox {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  color: whitesmoke;
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

.js-resultsBox h2 {
  font-size: 18px;
}

.js-id-result, .js-rec-result {
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}


.js-id-button, .js-rec-button, .js-return {
  height: 30px;
  border: 3px solid rgba(255, 20, 0, 0.5);
  border-radius: 10px;
  background-color: rgba(255, 20, 0, 0.5);
  color: whitesmoke;
  font-weight: bold;
  font-size: 16px;
}

.js-infoBox {
  background-color: rgba(28, 28, 31, 1);
  color: whitesmoke;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

.js-film-info, .links-container {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: whitesmoke;
}

.js-film-clips {
  padding: 0px 10px 10px 10px;
  color: whitesmoke;
}

.js-film-info {
  max-width: 545px;
}

div.js-film-info h2,
div.links-container h4 {
  color: whitesmoke;
  padding: 0px;
  margin-top: 0px;
}

div.js-film-clips h3, div.links-container h4 {
  background-color: rgba(57, 57, 57, .8);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  border: 1px solid whitesmoke;
  margin-top: 0px;
}

.results-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.clips-container {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.film-clips {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.film-clips h5 {
  margin-left: 10px;
}

.js-clip-result {
  display: flex;
  flex-direction: row;
}

.js-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.js-links img {
  padding-left: 5px;
}

a:hover,
a:focus,
Button:focus,
.js-query:focus {
  outline: 5px dotted red;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  header img {
    height: 100px;
  }
}

@media screen and (min-width: 1024px) {
  header img {
    height: 150px;
  }
  div.js-mainBox h1 {
    font-size: 28px;
  }
  div.js-rec-result h2 {
    font-size: 20px;
  }
  .results-container {
    flex-wrap: nowrap;
  }
}
